# Data analysis
pandas~=2.0.0

# Web interaction
requests~=2.31.0
beautifulsoup4~=4.10.0

# Date and time
python-dateutil~=2.8.2
pytz~=2022.1

# Project configuration
packaging~=21.3
toml~=0.10.2
atlassian-python-api>=3.0.0
matplotlib>=3.0.0
numpy>=1.18.0
